body{
    font-family: helvetica;
    max-width:100%;
    overflow-x: hidden;
    background-color: 000;
}


#loader {
    display: none;
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #3498db;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
    margin: 20px auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

nav {
    position:fixed;
    display:inline-block;
    background-color: #68686892;
    top:24px;
    right: 40px;
    left: 40px;
    margin-left:40px;
    margin-right:40px;
    border-radius:8px;
    backdrop-filter: blur(24px);
    border: 1px solid  #7e7e7e40;
    z-index: 10;
    text-align: right;
    padding-right: 40px;
    

}
nav li{
    color: #ffffff90;
    font-weight: 500;
    text-transform: uppercase;
    display:inline-block;
    width: 120px;
    letter-spacing: normal;
    text-align: center;
}
nav li:hover{
    color: #ffffff;
}
.hero {
    text-align: center;
    position: relative;
    top: 80px;
    display: block;
    align-items: center;
    width: 100%;

}
.hero img {
    width:100%;
    height: auto;
    position: relative;
    z-index: 0;
}

h1{
    width: 100%;
    position: absolute;
    z-index: 5;
    font-size: 160px;
    color: rgba(233, 233, 233, 0.573);
    

    top: 50%;  /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */

    transform: translate(-50%, -50%); /* This is a shorthand of translateX(-50%) and translateY(-50%) */
}

.h2 {
    color:#fff;
}
.services{
    margin-top: 80px;
    padding:20px;
    text-align: center;
}
.card{
    margin-left: 40px;
    color: #ffffff90;
    background-color: #68686892;
    display:inline-block;
    width: 15%;
    padding: 0px 8px 0px;
    border-radius:16px;
    backdrop-filter: blur(24px);
    border: 1px solid  #7e7e7e40;
}
.card img{
    border-radius: 8px;
    width: 100%;
    height: auto;
}
.card p{
    color: #93939390;
}
#cards-info {
    display:inline-block;
    height: 100vh;
text-align:center;
padding: 40px;

}
#prompt-section {
    margin-top: 40px;
    padding: 20px;
    text-align: center;
    color: #fff;
    border-radius: 8px;
    width: 80%;
    height:100vh;
    margin-left: auto;
    margin-right: auto;
    display:flex;
    flex-direction: column;
    gap: 24px;
    
}

#prompt-input {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    width:60%;
}

#generate-button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;

}

#generate-button:hover {
    background-color: #0056b3;

}

#image-display {
    display: none;
    border: 1px solid #ccc;
    border-radius: 24px;
    border-color: #3498db;
    width:fit-content; /* Cambiar a auto para que se ajuste al contenido */
}

#image-display img{
  border-radius: 24px;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    display: block;
}
.prompt-container {
    gap: 16px;
    align-items: center;

    flex-direction: column;
    width: 100%;    
}

.input-container {
    display:flex;
    width:60%;
    flex-direction: column;
    margin-bottom: 20px;
    justify-content:center;



}

.input-field {
    padding: 10px;
    margin-right: 10px;
}

.button {
    padding: 10px 20px;
    cursor: pointer;
}

.options-container {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    width:100%;
    justify-content: center;
}

.model-dimensions {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    

}

.dropdown-container {
    position: relative;
    display: inline-block;
}

.dropdown {
    padding: 10px;
    padding-right: 36px; /* Aumenta el espacio para el icono */
}

.dropdown-icon {
    position: absolute;
    right: 8px; /* Ajusta la distancia desde el borde derecho */
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

.dimension-input {
    width: 80px;
    padding: 10px;
}

.aspect-ratio-container {
  display: flex;
  align-items: center;
}

.aspect-ratio-button {
  padding: 10px 20px;
  margin: 0 10px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.aspect-ratio-button.selected {
  background-color: #0056b3;
}

